<%- include ('partials/navbar.ejs') %> 
<%- include ('partials/header.ejs') %>

  
<h1 style="text-align: center; color: #242424">Bem-vindo(a) à Step Up!</h1>
<h1 style="text-align: center; color: #242424">A cada passo, uma conquista.</h1>
<div class="fundo">
<img src="/images/stepup.png" width="400px">
</div>
 <%- include ('partials/footer.ejs') %>  